<!DOCTYPE html>
<html>

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <meta charset="UTF-8">
  <title>OGPサイト</title>
  <meta property="og:title" content="<%- text %>" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="" />
  <meta property="og:image"
    content="https://res.cloudinary.com/yk/image/upload/w_500/w_400,c_fit,l_text:Arial_30_bold:<%- text %>/ogp/basic.png" />
  <meta property="og:site_name" content="OGPサイト" />
  <meta property="og:description" content="OGPを表示します" />
  <!-- Twitter -->
  <meta name="twitter:card" content="photo" />
  <!-- https://res.cloudinary.com/yk/image/upload/w_500/w_400,c_fit,l_text:Arial_30_bold:<%- text %>/ogp/basic.png -->
</head>

<body>
  <%- text %>
  <img src="https://res.cloudinary.com/yk/image/upload/w_500/w_400,c_fit,l_text:Arial_30_bold:<%- text %>/ogp/basic.png"
    alt="OGP画像">
</body>

</html>
